@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
    font-family: 'Lato-Bold', sans-serif;
}

p {
	color: rgba(0,0,0,0.74);
}

a {
	text-decoration: none;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#content-wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/*----------------------------------------*/
/*          	PALETTE                   */
/*----------------------------------------*/

#palette {
	width: 260px;
	height: 100%;
	float: left;
	vertical-align: top;
	box-sizing: border-box;
	background-color: #23282B;
	color: #e2e3e5;
	overflow: hidden;
}

#palette-top {
	height: 30px;
}

.popout-control {
	width: 30px;
	height: 30px;
	float: right;
	color: #759aa5;
	box-sizing: border-box;
	padding: 5px;
}

.popout-control:hover {
	color: white;
}

.popout-arrow {
	float: right;
	cursor: pointer;
}

#show-palette {
	right: 0px;
}

#palette-body {
	padding-left: 10px;
	padding-right: 10px;
}

#give-token-palette-logo {
	margin-bottom: 20px;
}

.template-thumbnail-container {
	max-height: 230px;
	overflow-y: auto;
	margin-top: 20px;

}

.template-thumbnail {
	display: inline-block;
	width: 60px;
	height: 46px;
	border: solid 2px #23282B;
	border-radius: 2px;
	background-color: #23282B;
	margin-top: 2px;
	margin-right: 5px;
	padding: 1px;
}

.template-thumbnail:hover {
	border: solid 2px #509c3e;
	cursor: pointer;
}

.thumb-padded {
	box-sizing: border-box;
	border: solid 1px #23282B;
	background-color: #c0c0c0;
}

.thumb-column {
	float: left;
}

.palette-button {
	display: block;
	height: 30px;
	width: 217px;
	margin: auto;
	outline: none;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: #486eb5;
	color: white;
	font-family: 'Lato-Bold';
}

#send-link-input {
	height: 20px;
	width: 213px;
	margin: auto;
	outline: none;
	display: block;
}

/*----------------------------------------*/
/*          	TEMPLATES                 */
/*----------------------------------------*/
#templates {
	overflow: hidden;
	height: 100%;
	background-color: #1c2021;
}

#template-nav-container {
	height: 30px;
	overflow: hidden;
	background-color: #363b3e;
}

#template-scroll-container {
	height: calc(100% - 30px);
	overflow: auto;
}

#template-container {
	position: relative;
	width: 1024px;
	height: 768px;
	margin: 10px auto 0px auto;
}

.template-nav-bar {
	margin-top: 10px;
	float: right;
	margin-right: 30px;
}

.template-nav-bar li {
	display:inline; 
	padding: 0 10px; 
}

.template-nav-bar li a i {
	color: #5ebb46;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.template-nav-bar li a {
	padding-left: 10px;
	text-decoration: none;
	color: #888c8d;
}

.template-nav-bar li a:hover {
	color: white;
}

.template {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1024px;
	height: 768px;
	background-color: white;
	box-sizing: border-box;
	border: solid 5px white;
}

.bento {
	position: relative;
	box-sizing: border-box;	
	border: dashed 2px #486eb5;;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
	display: table;
}

.bento:hover {
	border: solid 2px #486eb5;;
	font-size: 16px;
}

.bento.over {
	background-color: #CBCBCB;
}

.bento-image {
	cursor: move;
}

.click-to-add {
	color: #486eb5;
	display: table-cell;
	vertical-align: middle;
	/* margin: auto; */
	text-align: center;
}

.divider {
	display: inline-block;
	position: absolute;
}
.vertical {
	top: 5px;
	width: 8px;
	height: 746px;
}
.horizontal {
	height: 8px;
}

.divider-container {
	position: absolute;
}

.divider:hover {
	background-color: #CCCCCC;
}
.vertical:hover {
	cursor: ew-resize;
}
.horizontal:hover {
	cursor: ns-resize;
}

.close-button {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	font-size: 16px;
	color: #B9B9B9;
}

.audio-close-button {
	display: none;
	position: absolute;
	bottom: 5px;
	left: 140px;
	width: 20px;
	height: 20px;
    background: url("../images/close_image.png");
}

/*----------------------------------------*/
/*             Template 1                 */
/*----------------------------------------*/
#divider-1-1 {
	left: 333px;
}

#divider-1-2 {
	left: 671px;
}

#divider-1-3 {
	top: 374px;
	left: 679px;
	width: 327px;
}

#divider-container-1-1 {
	top: 5px;
	left: 59px;
	width: 560px;
	height: 746px;
}

#divider-container-1-2 {
	top: 5px;
	left: 397px;
	width: 560px;
	height: 746px;
}

#divider-1-3 {
	top: 374px;
	left: 679px;
	width: 327px;
}

#divider-container-1-3 {
	top: 59px;
	left: 679px;
	width: 326px;
	height: 640px;
}

/*----------------------------------------*/
/*             Template 2                 */
/*----------------------------------------*/
#divider-2-1 {
	left: 502px;
}

#divider-2-2 {
	top: 374px;
	left: 5px;
	width: 496px;
}

#divider-2-3 {
	top: 248px;
	left: 512px;
	width: 496px;
}

#divider-2-4 {
	top: 500px;
	left: 512px;
	width: 496px;
}

#divider-container-2-1 {
	top: 5px;
	left: 59px;
	width: 904px;
	height: 746px;
}

#divider-container-2-2 {
	top: 59px;
	left: 5px;
	width: 496px;
	height: 650px;
}

#divider-container-2-3 {
	top: 59px;
	left: 512px;
	width: 496px;
	height: 396px;
}

#divider-container-2-4 {
	top: 315px;
	left: 512px;
	width: 496px;
	height: 396px;
}

/*----------------------------------------*/
/*             Template 3                 */
/*----------------------------------------*/
#divider-3-1 {
	left: 333px;
}

#divider-3-2 {
	left: 670px;
}

#divider-3-3 {
	top: 248px;
	left: 5px;
	width: 328px;
}

#divider-3-4 {
	top: 374px;
	left: 342px;
	width: 328px;
}

#divider-3-5 {
	top: 500px;
	left: 679px;
	width: 328px;
}

#divider-container-3-1 {
	top: 5px;
	left: 59px;
	width: 560px;
	height: 746px;
}

#divider-container-3-2 {
	top: 9px;
	left: 397px;
	width: 560px;
	height: 759px;
}


#divider-container-3-3 {
	top: 59px;
	left: 9px;
	width: 330px;
	height: 650px;
}


#divider-container-3-4 {
	top: 59px;
	left: 347px;
	width: 330px;
	height: 650px;
}

#divider-container-3-5 {
	top: 59px;
	right: 9px;
	width: 330px;
	height: 650px;
}

/*----------------------------------------*/

.image-slider {
	display: none;
	position: absolute;
	left: 10px;
	top: 20px;
	height: calc(100% - 70px);
}

/*----------------------------------------*/
#bento-2-1-slider{
	height: 332px; 
}

#bento-2-2-slider{
	height: 332px; 
}

#bento-2-3-slider {
	height: 204px;
}

#bento-2-4-slider {
	height: 204px;
}

#bento-2-5-slider {
	height: 204px;
}

/*----------------------------------------*/
#bento-3-1-slider{
	height: 235px; 
}

#bento-3-2-slider{
	height: 425px; 
}

#bento-3-3-slider {
	height: 330px;
}

#bento-3-4-slider {
	height: 330px;
}

#bento-3-5-slider {
	height: 425px;
}

#bento-3-6-slider {
	height: 235px;
}

.ui-slider-vertical {
    width: 2px;
}

.ui-slider-vertical .ui-slider-handle {
	width: 12px;
	height: 12px;
}

#send-form {
	max-width: 900px;
	overflow: auto;
}

#save-form {
	max-width: 900px;
	overflow: auto;
}

#template-downloads-container {
	margin: 10px auto;
	width: 1024px;
	height: 30px;
	background-color: white;
	border: solid 2px #B9B9B9;
}

.download-icon {
    height: 50px;
    width: 50px;
    opacity: .5;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.download-icon:hover {
    opacity: 1;
}

/*
.no-close .ui-dialog-titlebar-close {
  display: none;
}

*/

#token-list {
	width: 100%;
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
}

/***************************************************************************/

.sidebar-tab {
	background-image: url('../images/ui-sidebar-tabs-sprite.png');
	background-repeat: no-repeat;
	height: 51px;
	width: 51px;
	display: inline-block;
	border: solid 1px #23282B;
	margin-left: 2px;
	outline: none;
}

.sidebar-tab-hover:hover {
	border: solid 1px white;
	cursor: pointer;
}

.template-tab {
	background-position: 0px 0px;
}

.template-tab-selected {
	background-position: 0px -58px;
	pointer-events: none;
}

#text-tab {
	background-position: 0px -116px;
}

#opener-tab {
	background-position: 0px -233px;
}

.send-tab {
	background-position: 0px -349px;
}

.send-tab-selected {
	background-position: 0px -407px;
	pointer-events: none;
}

.sidebar-tab-container {
	padding: 3px;
	margin-top: 10px;
}

.template-tab-text {
	display: block;
	margin: 10px 0px 10px 4px;
	
}

.template-number {
	display: inline-block;
	padding: 2px 4px 2px 4px;
	margin-left: 1px;
	color: #adadad;
	border: solid 1px #23282B;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
	min-width: 10px;
}

.template-number-hover:hover {
	color: white;
	border-color: white;
}

.template-number-selected {
	color: white;
	border: solid 1px #5abb47;
	background-color: #35393b;
	pointer-events: none;
}

#send-tab-container {
	display: none;
	margin-top: 20px;
}

.send-button {
	background-image: url('../images/ui-buttons-sprite.png');
	background-repeat: no-repeat;
	height: 38px;
	width: 196px;
	border: solid 1px #23282B;
	margin: auto;
	outline: none;
	margin-top: 10px;
	cursor: pointer;
}

#facebook-send-button {
	background-position: -1px -252px;
}
#twitter-send-button {
	background-position: -1px -303px;
}
#pinterest-send-button {
	background-position: -1px -355px;
}
#instagram-send-button {
	background-position: -1px -406px;
}
#googleplus-send-button {
	background-position: -1px -458px;
}

#create-page-logo {
	margin: auto;
}

#advanced-send-button {
	height: 30px;
	width: 217px;
	margin: auto;
	outline: none;
	margin-top: 30px;
	background-color: #486eb5;
	color: white;
	display: block;
	text-align: center;
	vertical-align: middle;
}

.input-label {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}

fieldset {
	border: none;
}

.ui-widget-overlay {
	background: #303030;
	opacity: .75;
}

/********************* ADD DIALOG *******************************/
.add-dialog-class {
	border: none;
	border-radius: 0px;
	padding: 0px;
	background: #33383b;
}

.add-dialog-class .ui-widget-header {
	height: 50px;
	background: none;
	border: none;
	border-radius: 0px;
	color: white;
	padding: 0px;
}

.add-dialog-class .ui-dialog-title {
	margin: 0px;
	padding: 17px 30px;
}

#add-dialog {
	overflow: auto;
	padding: 0px;
	display: inline;
}

/************** NAVIGATION BAR ********************/

#add-nav-container {
	height: 40px;
	background-color: #1f2326;
	box-sizing: border-box;
	border: solid 1px black;
}

#add-nav-bar {
	float: left;
	height: 100%;
}

#add-nav-bar li {
	display: inline-block; 
	margin: 0 10px; 
	height: 100%;
}

.add-nav-item {
	display: inline-block;
	height: 100%;
	color: #aaadaf !important;
	outline: none;
	border: solid 2px #1f2326;
	box-sizing: border-box;
	padding-top: 8px;
}

.add-nav-item-hover:hover {
	color: white !important;
	border-bottom: solid 2px #68d74c;
	cursor: pointer;
}

.add-nav-item-selected {
	color: white !important;
	border-bottom: solid 2px #68d74c;
	pointer-events: none;
}

/****************** CONTENT ***********************/

.add-content-container {
	height: 450px;
	overflow: auto;
}

#add-stock-container {
	display: none;
}

#add-images-container {
	overflow: hidden;
}

#add-video-audio-container {
	display: none;
}

#add-letter-container {
	display: none;
}

/***************** ICON NAV BAR ***********************/

.add-content-icon-bar {
	text-align: center;
	height: 75px;
}

.add-icon-container {
	display: inline-block;
	margin: 17px auto;
}

.add-icon-link {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0px 20px;
	outline: none;
	color: #808183 !important;
}

.add-icon-link:hover {
	color: white !important;
}

.add-icon {
	margin: auto;
}


/******************** CONTENT UNDER ICON BAR *******************/
.add-content {
	height: 345px;
	overflow-y: auto;
	background-color: #33383b;
	padding: 10px;
	margin: 0px 10px;
}

.add-content-no-icons {
	height: 410px;
	margin: 10px 10px 0px 10px;
}

/********************** ADD BUTTONS ****************************/

#add-button-container {
	box-sizing: border-box;
	height: 40px;
	display: table;
	width: 100%;
}

.add-button {
	display: table-cell;
	width: 49.5%;
	text-align: center;
	vertical-align: middle;
	height: 40px;
	color: #aaadaf;
}

.add-button:hover {
	color: white;
	background-color: #626c71;
	cursor: pointer;
}


/******************** IMAGES **************************/

.thumbnail-container {
	display: inline-block;
	width: 178px;
	height: 152px;
	border: solid 2px #33383b;
	box-sizing: border-box;
	margin-right: 8px;
	margin-bottom: 10px;
	overflow: hidden;
}

.thumbnail-container-hover:hover {
	border: solid 2px white;
}

.thumbnail-container-selected {
	border: solid 2px #5abb47;
	background-color: #626c71;
	pointer-events: none;
}
.inner-thumbnail-container {
	width: 178px;
	height: 152px;
	display: table-cell;
	vertical-align: bottom;
	overflow: hidden;
}

.photo-thumbnail {
	display: block;
	max-width: 170px;
	max-height: 115px;
	margin: 2px auto;
}

.file-name {
	width: 178px;
	color: white;
	text-align: center;
	line-height: 20px;
	margin: 5px 0px;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
}

#letter-form {
	height: 427px;
	width: 600px;
}

#letter-text {
	box-sizing: border-box;
	width: 600px;
	height: 427px;
	overflow: auto;
	margin: 10px;
}

.hidden-file-input {
	opacity: 0;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0px;
	left: -1000px;
}

.dialog-input {
	width: 100%;
	height:  30px;
	font-size: 16px;
	margin-top: 5px;
}

.hidden {
	display: none;
}

.no-pointer {
	cursor: default;
}

#image-dialog {
	padding: 0px;
}

#image-dialog-container {
	padding: 10px 5px;
}
#hyperlink-button {
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: white;
	background-color: #476FB6;
	font-weight: bold;
	border-radius: 3px;
}

#hyperlink-button:hover {
	color: white;
	background-color: #626c71;
	cursor: pointer;
}

#hyperlink-text {
	width: 100%;
	margin-top: 5px;
	color: black;
	text-align: center;
	box-sizing: border-box;
	height: 25px;
	line-height: 25px;
	border: none
}

