html {
	height: 100%;
	overflow: hidden;
}

body
{
	height: 100%;
	margin: 0px;
	overflow: auto;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #9099B0 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #9099B0 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #9099B0 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #9099B0));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #9099B0 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #9099B0 100%);	
}

#preview-header-wrapper {
	background-color: #293133;
	height: 85px;
}

#preview-home-icon {
    background: url("../images/Giftbox.png") no-repeat;
	background-position: center;
    display: block;
    width: 245px;
    height: 65px;
    position: relative;
    text-indent: -9999px;
    top: 10px;
	left: 10px;
}


#preview {
	position: relative;
	display: block;
	border: solid 1px #B9B9B9;
}

#letter-text {
	position: absolute;
	display: block;
	top: 0px;
	left: 111px;
	width: 984px;
	height: 738px;
	border: solid 1px #B9B9B9;
	margin: 0px;
	padding: 20px;
	background-color: white;
}

.preview-bento {
	display: inline-block;
	position: absolute;
	border: solid 1px #B9B9B9;
	overflow: hidden;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
}

.download-container {
	width: 1024px;
	margin: 10px auto;
}

.download-button {
	margin-right: 5px;
	margin-bottom: 5px;
}

.flip-tab {
	display: inline-block;
	text-decoration: none;
	border: solid 1px #B9B9B9;
	padding: 5px;
	position: absolute;
	width: 100px;
	text-align: center;
	top: 0px;
	background-color: white;
}

#view-letter {
	left: 1025px;
}

#close-letter {
	left: 0px;
}

#flip-container {
	position: relative;
	margin: 50px auto 10px auto;
	width: 1138px;
	height: 780px;
}

.panel {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 3000px;
}

.panel .front {
	width: inherit;
	height: inherit;
	z-index: 900;
	
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	
}

.panel.flip .front {
	z-index: 900;
	border-color: #eee;
	box-shadow: 0 15px 50px rgba(0,0,0,0.2);

	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


.panel .back {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;

	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
	transform: rotateY(-179deg);

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.panel.flip .back {
	z-index: 1000;

	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
}

@media (max-width: 1024px)
{
	#preview-header-wrapper {
		display: none;
	}

	#flip-container {
		margin: 0px;
	}
}