html {
	height: 100%;
	overflow: hidden;
}

body
{
	height: 100%;
	margin: 0px;
	overflow: auto;
}

#preview {
	position: relative;
	margin: 50px auto 10px auto;
	display: block;
	border: solid 1px #B9B9B9;
}

.preview-bento {
	display: inline-block;
	position: absolute;
	border: solid 1px #B9B9B9;
	overflow: hidden;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
}

.download-container {
	width: 1024px;
	margin: 10px auto;
}

.download-button {
	margin-right: 10px;
}
