#center-column {
	max-width: 1024px;
	margin: auto;
	background-color: lightblue;
	color: white;
}
.input-section {
	padding: 20px;
}
#required-info {
	background-color: #6734BA;
}
#basic-info {
	background-color: #7E53C5;
}
#important-info {
	background-color: #5E2EB4;
}
#special-info {
	background-color: #451FA3;
}
#advanced-info {
	background-color: #A2887E;
}
#social-media-info {
	background-color: #755244;
}
#button-section {
	background-color: white;
}
#save-button {
	display: block;
	margin: auto;
}
