
/* =============================================================

		CSS RESET

	============================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =============================================================

		TYPOGRAPHY

   ============================================================= */

@font-face {
  font-family: 'League-Gothic';
  src: url('../assets/fonts/league_gothic-webfont-webfont.eot');
  src: url('../assets/fonts/league_gothic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/league_gothic-webfont-webfont.woff') format('woff'),
       url('../assets/fonts/league_gothic-webfont-webfont.ttf') format('truetype'),
       url('../assets/fonts/league_gothic-webfont-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h2.thank-you {
	color: #fff;
	margin: 0 auto;
	text-align:center
	left: 50%;
	font-family: 'League-Gothic', 'Helvetica', sans-serif;
	font-size: 0px;
}

h3.thank-you {
	color:#D4B52B;
	font-size:0px;
	text-align:center;
	font-family: 'League-Gothic', 'Helvetica', sans-serif;
}

.donation-input h3 {
	font-family: 'League-Gothic', 'Helvetica', sans-serif;
	font-size: 36px;
}

/* =============================================================

		MAIN STYLES

	============================================================= */

body {
  background-color:#fff;
  color:#fff;
  text-align:center;
	overflow:hidden;
}

button {
	z-index: 5;
	margin: 0 auto;
}

.clear {
	width: 100%;
	clear:both;
}

.donation-input {
	width: 50%;
	height: 50%;
	z-index: 5;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

input.donation {
	width: 50%;
	min-width: 300px;
	max-width: 400px;
	margin: 10px auto;
	padding: 5px;
}

a.start, a.results {
	font-family: 'League-Gothic', 'Helvetica', sans-serif;
	display:block;
	border-radius: 3px;
	background-color:#027153;
	border: 2px solid #fff;
	color:#fff;
	width: 200px;
	padding: 10px;
	margin: 15px auto;
	text-decoration:none;
	font-size: 24px;
}

a.start:hover, a.results:hover, a.open-truck:hover, a.unload-box:hover {
	border: 2px solid #D4B52B;
	background-color:#D4B52B;
	color:#fff;
}

a.results {
	opacity: 0;
}

a.open-truck, a.unload-box {
	font-family: 'League-Gothic', 'Helvetica', sans-serif;
	display:block;
	border-radius: 3px;
	background-color:#fff;
	border: 2px solid #027153;
	color:#027153;
	width: 300px;
	height: 35px;
	padding: 10px;
	text-decoration:none;
	font-size: 40px;
	position: absolute;
	z-index: 11;
	margin: 0 auto;
	top: 15%; left: 0; bottom: 0; right: 0;
	opacity: 0;
}

a.skip {
	font-family: 'League-Gothic', 'Helvetica', sans-serif;
	display:block;
	width: 200px;
	height: 20px;
	color:#027153;
	position: absolute;
	margin: 0 auto;
	top: 25%; left: 0; bottom: 0; right: 0;
	opacity: 0;
	z-index: 20;
}

a.skip:hover {
	color:#D4B52B;
}

.green-block {
	background-color:#027153;
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 3;
}

.truck {
	width: 400px;
	height: 221px;
	background: url(../assets/images/truck.png);
	background-size:cover;
	background-position:center;
	top: -215px;
	z-index: 5;
	left: -100vw;
	position:absolute;
}

img.truck-door {
	top: -212px;
	z-index: 5;
	display:inline-block;
	/*width: 50%;*/
	max-width: 25px;
	left: -100vw;
	position:absolute;
	transform-origin: 55% 100%;
}

.thank-you-text {
  text-align:center;
	z-index: 4;
	width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.food-box, .briefcase {
	width: 120px;
	height: 89px;
	background: url(../assets/images/food-box.png);
	background-size:cover;
	background-position:center;
	position:absolute;
	z-index:1;
	left: 52vw;
	top: -138px;
}

.last-food-box, .last-briefcase {
	width: 200px;
	height: 148px;
	background: url(../assets/images/food-box.png);
	background-size:cover;
	background-position:center;
	position:absolute;
	z-index:1;
	left: 10vw;
	top: 95vh;
}

.briefcase, .last-briefcase {
	background-image: url(../assets/images/briefcase.png);
}

.family {
	width: 400px;
	height: 250px;
	position: absolute;
	background-image: url(../assets/images/family.png);
	background-size:cover;
	background-position:center;
	z-index: 10;
	top: 400px;
	left: 45vw;
}

.thanks-bubble {
	width: 400px;
	height: 145px;
	position:absolute;
	background-image: url(../assets/images/thanks-bubble.png);
	background-size:cover;
	background-position:center;
	z-index: 10;
	top: 20vh;
	left: 44vw;
	opacity:0;
}

.raised-text {
	width: 50%;
	display:block;
	position:absolute;
	font-family: 'League-Gothic', 'Helvetica', sans-serif;
	color:#027153;
	font-size: 45px;
	text-align:center;
	z-index: 10;
	top: 40vh;
	left: 0vw;
	opacity:0;
}
