body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #293133;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
	font-weight: 600;
}

a {
    text-decoration: none;
    transition: color 200ms linear 0s;
}

li {
    list-style: none;
}

.white {
	color: white;
}

.header-wrapper {
    min-width: 990px;
    width: 100%;
}

header {
    height: 85px;
    margin: 0 auto;
    overflow: visible;
    width: 990px;
}


#home-icon {
    background: url("../images/Giftbox.png");
    display: block;
    float: left;
    width: 240px;
    height: 65px;
    position: relative;
    text-indent: -9999px;
    top: 0px;
}

header nav {
	display: block;
	float: left;
    position: relative;
	left: 140px;
    top: px;
	border:1px solid;
	border-top-width: 0px;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
}

header nav ul {
    margin-left: 40px;
}

header nav ul li {
    float: left;
    width: 115px;
}

header nav a {
    color: #293133;
}

header nav a:hover {
    color: #CACCCC;
}

#create-top-nav {
	background-color: white;
}
#create {
    float: right;
    position: relative;
    top: 0px;
	border:1px solid;
	border-top-width: 0px;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
	background-color: #1B8DD3;
}
#create-link {
	color: #FFFFFF;
}

#content-wrapper {
    min-width: 990px;
    width: 100%;
}

section {
	overflow: hidden; 
	text-align: center;
	position: relative;
	padding: 80px 0px;
}

section h2 {
    font-family: "HelveticaNeue",Helvetica,sans-serif;
    font-size: 70px;
    font-weight: normal;
}

p.lead {
    color: #737980;
}

section p.lead {
    font-size: 24px;
    margin: 30px 0 70px;
}

div.container {
	display: block;
    margin: 0 auto;
    position: relative;
}


/*----------------------------------------*/
/*          CAROUSEL SECTION              */
/*----------------------------------------*/
#carousel-section {
}

/*----------------------------------------*/
/*          WRAPPER SECTION               */
/*----------------------------------------*/
#wrapper-section {
    position: relative;
	overflow: auto;
	padding: 0px;
}

#step-1 {
	padding: 80px 0px;
}

#multiple-list-container {
	overflow-y: hidden;
	height: 280px;
	border-bottom: solid 1px black;
}

.wrapper-list {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
	margin: 10px;
}

.wrapper-list img{
    border: solid 5px white;
	border-radius: 5px;
}

.wrapper-list img:hover {
    border: solid 5px gray;
	border-radius: 5px;
}

#premium-wrappers {
/*	position: absolute;
	top: 0px;
	left: 0px; */
}

#show-premium-div {
	display: inline-block;
	padding: 10px;
	border:1px solid;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#show-premium {
	color: #000000;
}

/*----------------------------------------*/
/*         FILL SECTION                   */
/*----------------------------------------*/
#fill-section {
	height: 1000px;
	color: #FFFFFF;
	background-color: white;
	min-width: 1400px;
	padding: 0 0 0 0;
}

#step-2 {
	background-color: #293133;
	padding: 80px 0px;
}
 
#button-container {
	margin: 10px auto;
	width: 1390px;
	display: inline-block;
}	

.fill-button {
	color: white;
	background-color: #293133;
	padding: 5px 10px 5px 10px;
	margin-left: 10px;
	border: solid 0px white;
	border-radius: 10px;
	width: 80px;
	float: right;
}
	
 #fill-container {
	display: inline-block;
 }
 
#tabs {
	margin-left: 10px;
	width: 300px;
	height: 698px;
	display: inline-block;	
    vertical-align: top;
}

#tab-1 {
	padding: 5px;
}

#tab-2 {
	padding: 5px;
}

.search-form {
}
.search {
	padding: 5px;
	width: 100%;
	box-sizing:border-box;	
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.search-results-container {
	margin-top: 5px;
	border: solid 1px black;
	height: 588px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 5px;
}
.search-results {
	float: left;
}
.result-image {
	display: none;
	max-width: 100px;
	max-height: 100px;
}

#template {
	position: relative;
	width: 1062px;
	height: 705px;
	margin-left: 10px;
	display: inline-block;
	background-image:url('../images/blank_template.png');
	background-color: white;
	border: solid 1px black;
}


#preview {
	width: 1200px;
	height: 900px;
	
}

/*----------------------------------------*/
/*         PERSONALIZE SECTION            */
/*----------------------------------------*/
#personalize-section {
	color: #FFFFFF;
/*	background-color: #293133; */
	background: url("../images/ParallaxBG.jpg");
}

#icon-list {
	margin: 100px auto 0px;
	width: 990px;
	display: inline-block;
}

.icon-container {
	display: inline-block;
	float: left;
	width: 33%;
	vertical-align: top;
}
.icon-text {
	padding: 20px 50px 20px 50px;
	font-weight: lighter;
}

.icon-text-large {
	padding: 5px 50px 20px 50px;
	font-weight: lighter;
	font-size: 40px;
}

/*----------------------------------------*/
/*          ADD IMAGES SECTION             */
/*----------------------------------------*/
#add-images-section {
	height: 650px;
}

#animation-container {
	width: 990px;
	height: 1700px;
	margin: 0px auto;
	position: relative;
	display: block;
}

#search-box {
	overflow: hidden;
	position: absolute;
	left: 0px;
}

#text-reveal {
	background-color: #FFFFFF;
	height: 30px;
	width: 280px;
	position: absolute;
	top: 60px;
	left: 12px;
}

#rhcp-logo {
	position: absolute;
	top: 103px;
	left: 16px;
}

#rhcp-logo-2 {
	position: absolute;
	top: 700px;
	left: 300px;
}

#add-images {
}

#add-downloads {
	top: 630px;
}

#blank-template {
	position: absolute;
	left: 320px;
	border: solid 1px black;
}

/*----------------------------------------*/
/*          ADD DOWNLOADS SECTION             */
/*----------------------------------------*/
#add-downloads-section {
	height: 1300px;
	background: url("../images/ParallaxBG.jpg") no-repeat scroll 0 0 / cover #000000;
}

#animation-container-2 {
	width: 990px;
	height: 1700px;
	margin: 0px auto;
	position: relative;
	display: block;
}

#search-box-2 {
	overflow: hidden;
	position: absolute;
	left: 0px;
}

#text-reveal-2 {
	background-color: #FFFFFF;
	height: 30px;
	width: 280px;
	position: absolute;
	top: 60px;
	left: 12px;
}

#blank-template-2 {
	position: absolute;
	left: 320px;
	border: solid 1px white;
}

#blank-template-3 {
	position: absolute;
	left: 320px;
	border: solid 1px white;
	opacity: 0;
}

#download {
	position: absolute;
	top: 103px;
	left: 16px;
}

#box-top {
	position: absolute;
	top: 600px;
	left: 380px;
}

#box-bottom {
	position: absolute;
	top: 722px;
	left: 380px;
}

/*----------------------------------------*/
/*         		 FOOTER                   */
/*----------------------------------------*/
#footer-wrapper {
    background-color: #293133;
    min-width: 990px;
    width: 100%;
}

footer {
    height: 112px;
    margin: 0 auto;
    overflow: visible;
    width: 800px;
	padding: 70px 70px 0px 70px;
}

footer nav {
    float: left;
}

footer nav ul {
    text-align: left;
}

footer nav ul.dark {
    margin-top: 10px;
}

footer nav ul.dark li {
    margin-right: 30px;
}

footer nav ul.dark li a {
    color: #6E6F71;
}

footer nav ul.dark li a:hover {
    color: #FFFFFF;
}

footer nav ul li {
    display: inline;
    margin-right: 50px;
}

footer nav a {
    color: #FFFFFF;
}

footer nav a:hover {
    color: #6E6F71;
}

footer ul.social {
    float: right;
}

footer ul.social li {
    display: inline-block;
	margin-left: 15px;
}

footer ul.social li a {
    background: url("../images/facebook.png");
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    position: relative;
    text-indent: -9999px;
    top: 0px;
}

footer ul.social li.facebook a {
    background: url("../images/facebook.png");
}

footer ul.social li.twitter a {
    background: url("../images/twitter.png");
}

.white-popup {
	position: relative;
	background: #FFFFFF;
	padding: 20px;
	width: auto;
	margin: 20px auto;
	border-radius: 20px;
}

#login-form {
	max-width: 550px;
}

#send-form {
	max-width: 550px;
}

#login-form-container {
	width: 100%;
	position: relative;
}

.login-input {
	border: 1px solid;
	border-radius: 5px;
	font-size: 200%;
	margin: 20px auto;
	padding: 10px;
	display: block;
}

#email {
	margin-top: 40px;
}

#forgot-password {
	width: 100%;
	display: block;
	text-align: right;
	color: black;
}

#forgot-password:hover {
    color: #CACCCC;
}

.dialog-button {
	color: white;
	border:1px solid;
	border-top-width: 0px;
	padding: 10px;
	border-radius: 10px;
	background-color: #293133;
	margin-top: 20px;
	display: inline-block;
	font-size: 150%;
}

.dialog-button:hover {
    color: #CACCCC;
}

#signup-button {
	float: left;
}

#facebook-button {
	margin-left: 20px;
}

#login-button {
	float: right;
}

