<?php
define('TEST_URL', 'http://gosizzle.local');
define('MYSQL_DB', 'giftbox');
define('MYSQL_USER', 'giftbox');
define('MYSQL_PASSWORD', 'giftbox');
define('MYSQL_HOST', '127.0.0.1');
define('ENVIRONMENT', 'local');
define('SLACK_TOKEN', 'xoxb-17521146128-nHU6t4aSx7NE0PYLxKRYqmjG');
?>
