.DS_Store
Thumbs.db
ehthumbs.db
Icon

# Local storage #
#################
/uploads

# Composer #
############
/vendor
composer.lock

# Bower #
#########
bower_components
components

# Polybuild #
#############
recruiting_token.build.html
js/recruiting_token.min.js

# Testing #
###########
/test.php
