.DS_Store
Thumbs.db
ehthumbs.db
Icon

# Local storage #
#################
/public/uploads
/ajax/uploads

# Composer #
############
/vendor

# Bower #
#########
bower_components
components

# Polybuild #
#############
#recruiting_token.build.html
#js/recruiting_token.min.js

# Testing #
###########
/test.php
