.DS_Store
Thumbs.db
ehthumbs.db
Icon

# Local storage #
#################
/public/uploads
/public/static_tokens

# Composer #
############
/vendor

# Bower #
#########
/components

# NPM #
#######
/node_modules

# Testing #
###########
/test.php

# Credentials #
###############
/config/credentials.php
