@font-face {
    font-family: 'Blokk';
    src: url('BLOKKNeue-Regular.eot');
    src: url('BLOKKNeue-Regulard41d.eot?#iefix') format('embedded-opentype'),
         url('BLOKKNeue-Regular.woff') format('woff'),
         url('BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}