<div class="template" id="template-17">
	<!-- DIVIDER CONTAINERS -->
	<div class="divider-container" id="divider-container-17-1" data-top="59px" data-left="5px" data-width="1004px" data-height="396"></div>
	<div class="divider-container" id="divider-container-17-2" data-top="315px" data-left="5px" data-width="1004px" data-height="396"></div>
	<div class="divider-container" id="divider-container-17-3" data-top="257px" data-left="59px" data-width="884px" data-height="238"></div>

	<!-- COLUMNS -->
	<div id="column-17-1" class="column padded height33 width100">
		<div class="bento" id="bento-17-1" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-17-1-slider"></div>
			<i class="close-button icon_close_alt" id="bento-17-1-close" onclick="closeClicked(event, this)"></i>
			<i class="refresh-button arrow_carrot-2left_alt" id="bento-17-1-refresh" onclick="refreshImage(event, this)"></i>
			<i class="bento-link-icon icon-link fa" id="bento-17-1-link-icon"></i>
		</div>
	</div>
	<div id="column-17-2" class="column height33 width100">
		<div id="column-17-4" class="column padded height100 width50">
			<div class="bento" id="bento-17-2" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-17-2-slider"></div>
				<i class="close-button icon_close_alt" id="bento-17-2-close" onclick="closeClicked(event, this)"></i>
				<i class="refresh-button arrow_carrot-2left_alt" id="bento-17-2-refresh" onclick="refreshImage(event, this)"></i>
				<i class="bento-link-icon icon-link fa" id="bento-17-2-link-icon"></i>
			</div>
		</div>
		<div id="column-17-5" class="column padded height100 width50">
			<div class="bento" id="bento-17-3" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-17-3-slider"></div>
				<i class="close-button icon_close_alt" id="bento-17-3-close" onclick="closeClicked(event, this)"></i>
				<i class="refresh-button arrow_carrot-2left_alt" id="bento-17-3-refresh" onclick="refreshImage(event, this)"></i>
				<i class="bento-link-icon icon-link fa" id="bento-17-3-link-icon"></i>
			</div>
		</div>
	</div>
	<div id="column-17-3" class="column padded height33 width100">
		<div class="bento" id="bento-17-4" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-17-4-slider"></div>
			<i class="close-button icon_close_alt" id="bento-17-4-close" onclick="closeClicked(event, this)"></i>
			<i class="refresh-button arrow_carrot-2left_alt" id="bento-17-4-refresh" onclick="refreshImage(event, this)"></i>
			<i class="bento-link-icon icon-link fa" id="bento-17-4-link-icon"></i>
		</div>
	</div>
	<div class="horizontal divider" id="divider-17-1" data-top="248px" data-left="5px" data-width="1004px" data-drag-axis="y" data-top-dependents='["column-17-1"]' data-bottom-dependents='["column-17-2", "divider-container-17-2", "divider-17-3"]'></div>

	<div class="horizontal divider" id="divider-17-2" data-top="501px" data-left="5px" data-width="1004px" data-drag-axis="y" data-top-dependents='["column-17-2", "divider-container-17-1", "divider-17-3"]' data-bottom-dependents='["column-17-3"]'></div>

	<div class="vertical divider" id="divider-17-3" data-top="255px" data-height="245px" data-left="503px" data-drag-axis="x" data-left-dependents='["column-17-4"]' data-right-dependents='["column-17-5"]' style="left: 503px; height: 370px;"></div>
</div>
</div>