<?php
$mysql_server = "127.0.0.1";
$database = "giftbox";
$user = "giftbox";
$password = "giftbox";
define('MANDRILL_API_KEY', '7vAycFdPJJDoY5AuXc4GQg');
define('PIPEDRIVE_API_TOKEN', 'a1s2d3f4g5h6j7');
define('PIPEDRIVE_STATUS_COLUMN_KEY', '6a06247b91272ae63df08657bd3fe5e716a7f519');
