<div class="template" id="template-15">
	<div class="divider-container" id="divider-container-15-1" data-top="59px" data-left="5px" data-width="1004px" data-height="396"></div>
	<div class="divider-container" id="divider-container-15-2" data-top="315px" data-left="5px" data-width="1004px" data-height="396"></div>
	<div id="column-15-1" class="column padded height33 width100">
		<div class="bento" id="bento-15-1" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-15-1-slider"></div>
			<i class="close-button icon_close_alt" id="bento-15-1-close" onclick="closeClicked(event, this)"></i>
			<i class="bento-link-icon icon-link fa fa-link fa-lg" id="bento-15-1-link-icon"></i>
		</div>
	</div>
	<div id="column-15-2" class="column padded height33 width100">
		<div class="bento" id="bento-15-2" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-15-2-slider"></div>
			<i class="close-button icon_close_alt" id="bento-15-2-close" onclick="closeClicked(event, this)"></i>
			<i class="bento-link-icon icon-link fa fa-link fa-lg" id="bento-15-2-link-icon"></i>
		</div>
	</div>
	<div id="column-15-3" class="column height33 width100">
		<div id="column-15-4" class="column padded height100 width50">
			<div class="bento" id="bento-15-3" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-15-3-slider"></div>
				<i class="close-button icon_close_alt" id="bento-15-3-close" onclick="closeClicked(event, this)"></i>
				<i class="bento-link-icon icon-link fa fa-link fa-lg" id="bento-15-3-link-icon"></i>
			</div>
		</div>
		<div id="column-15-5" class="column padded height100 width50">
			<div class="bento" id="bento-15-4" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-15-4-slider"></div>
				<i class="close-button icon_close_alt" id="bento-15-4-close" onclick="closeClicked(event, this)"></i>
				<i class="bento-link-icon icon-link fa fa-link fa-lg" id="bento-15-4-link-icon"></i>
			</div>
		</div>
	</div>
	<div class="horizontal divider" id="divider-15-1" data-top="248px" data-left="5px" data-width="1004px" data-drag-axis="y" data-top-dependents='["column-15-1"]' data-bottom-dependents='["column-15-2", "divider-container-15-2"]'></div>
	<div class="horizontal divider" id="divider-15-2" data-top="501px" data-left="5px" data-width="1004px" data-drag-axis="y" data-top-dependents='["column-15-2", "divider-container-15-1"]' data-bottom-dependents='["column-15-3"]'></div>
	<div class="vertical divider ui-draggable" id="divider-15-3" data-top="510px" data-height="245px" data-left="503px" data-drag-axis="x" data-left-dependents='["column-10-3"]' data-right-dependents='["column-10-4"]' style="left: 503px; height: 370px;"></div>
</div>
</div>