<div class="template" id="template-19">

	<!-- DIVIDER CONTAINERS -->
	<div class="divider-container" id="divider-container-19-1" data-top="59px" data-left="5px" data-width="1004px" data-height="396"></div>
	<div class="divider-container" id="divider-container-19-2" data-top="315px" data-left="5px" data-width="1004px" data-height="396"></div>

	<!-- COLUMNS -->
	<div id="column-19-1" class="column padded height25 width100">
		<div class="bento" id="bento-19-1" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-19-1-slider"></div>
			<i class="close-button icon_close_alt" id="bento-19-1-close" onclick="closeClicked(event, this)"></i>
			<i class="bento-link-icon icon-link fa" id="bento-19-1-link-icon"></i>
		</div>
	</div>
	<div id="column-19-2" class="column padded height25 width100">
		<div class="bento" id="bento-19-2" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-19-2-slider"></div>
			<i class="close-button icon_close_alt" id="bento-19-2-close" onclick="closeClicked(event, this)"></i>
			<i class="bento-link-icon icon-link fa" id="bento-19-2-link-icon"></i>
		</div>
	</div>
	<div id="column-19-3" class="column padded height25 width100">
		<div class="bento" id="bento-19-3" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-19-3-slider"></div>
			<i class="close-button icon_close_alt" id="bento-19-3-close" onclick="closeClicked(event, this)"></i>
			<i class="bento-link-icon icon-link fa" id="bento-19-3-link-icon"></i>
		</div>
	</div>
	<div id="column-19-4" class="column padded height25 width100">
		<div class="bento" id="bento-19-4" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-19-4-slider"></div>
			<i class="close-button icon_close_alt" id="bento-19-4-close" onclick="closeClicked(event, this)"></i>
			<i class="bento-link-icon icon-link fa" id="bento-19-3-link-icon"></i>
		</div>
	</div>

	<!-- DIVIDERS -->
	<div class="horizontal divider" id="divider-19-1" data-top="248px" data-left="5px" data-width="1004px" data-drag-axis="y" data-top-dependents='["column-19-1"]' data-bottom-dependents='["column-19-2", "divider-container-19-2"]'></div>
	<div class="horizontal divider" id="divider-19-2" data-top="501px" data-left="5px" data-width="1004px" data-drag-axis="y" data-top-dependents='["column-19-2", "divider-container-19-1"]' data-bottom-dependents='["column-19-3"]'></div>
</div>