<div class="template" id="template-3">
	<div class="divider-container" id="divider-container-3-1" data-top="5px" data-left="59px" data-width="560px" data-height="746px"></div>
	<div class="divider-container" id="divider-container-3-2" data-top="9px" data-left="397px" data-width="560px" data-height="759px"></div>
	<div class="divider-container" id="divider-container-3-3" data-top="59px" data-left="9px" data-width="330px" data-height="650px"></div>
	<div class="divider-container" id="divider-container-3-4" data-top="59px" data-left="347px" data-width="330px" data-height="650px"></div>
	<div class="divider-container" id="divider-container-3-5" data-top="59px" data-left="9px" data-width="330px" data-height="650px"></div>
	<div id="column-3-1" class="column height100 width33">
		<div id="column-3-4" class="padded column height33 width100">
			<div class="bento" id="bento-3-1" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-3-1-slider"></div>
				<i class="close-button icon_close_alt" id="bento-3-1-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
		<div id="column-3-5" class="padded column height66 width100">
			<div class="bento" id="bento-3-2" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-3-2-slider"></div>
				<i class="close-button icon_close_alt" id="bento-3-2-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
	</div>
	<div id="column-3-2" class="column height100 width33">
		<div id="column-3-6" class="padded column height50 width100">
			<div class="bento" id="bento-3-3" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-3-3-slider"></div>
				<i class="close-button icon_close_alt" id="bento-3-3-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
		<div id="column-3-7" class="padded column height50 width100">
			<div class="bento" id="bento-3-4" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-3-4-slider"></div>
				<i class="close-button icon_close_alt" id="bento-3-4-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
	</div>
	<div id="column-3-3" class="column height100 width33">
		<div id="column-3-8" class="padded column height66 width100">
			<div class="bento" id="bento-3-5" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-3-5-slider"></div>
				<i class="close-button icon_close_alt" id="bento-3-5-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
		<div id="column-3-9" class="padded column height33 width100">
			<div class="bento" id="bento-3-6" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-3-6-slider"></div>
				<i class="close-button icon_close_alt" id="bento-3-6-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
	</div>
	<div class="vertical divider" id="divider-3-1" data-left="333px" data-drag-axis="x" data-left-dependents='["column-3-1", "divider-3-3", "divider-container-3-3"]' data-right-dependents='["column-3-2", "divider-3-4", "divider-container-3-4"]'></div>
	<div class="vertical divider" id="divider-3-2" data-left="671px" data-drag-axis="x" data-left-dependents='["column-3-2", "divider-3-4", "divider-container-3-4", "divider-container-3-1"]' data-right-dependents='["column-3-3", "divider-3-5", "divider-container-3-5"]'></div>
	<div class="horizontal divider" id="divider-3-3" data-top="248px" data-left="5px" data-width="328px" data-drag-axis="y" data-top-dependents='["column-3-4"]' data-bottom-dependents='["column-3-5"]'></div>
	<div class="horizontal divider" id="divider-3-4" data-top="375px" data-left="342px" data-width="328px" data-drag-axis="y" data-top-dependents='["column-3-6"]' data-bottom-dependents='["column-3-7"]'></div>
	<div class="horizontal divider" id="divider-3-5" data-top="501px" data-left="679px" data-width="328px" data-drag-axis="y" data-top-dependents='["column-3-8"]' data-bottom-dependents='["column-3-9"]'></div>
</div>