<div class="template" id="template-23">

	<!-- DIVIDER CONTAINERS -->
	<div class="divider-container" id="divider-container-23-1" data-top="59px" data-left="5px" data-width="1004px" data-height="650px"></div>
	<div class="divider-container" id="divider-container-23-2" data-top="385px" data-left="59px" data-width="560px" data-height="380px"></div>
	<div class="divider-container" id="divider-container-23-3" data-top="385px" data-left="397px" data-width="560px" data-height="380px"></div>

	<!-- COLUMNS -->
	<div id="column-23-1" class="column padded height50 width100">
		<div class="bento" id="bento-23-1" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-23-1-slider"></div>
			<i class="close-button icon_close_alt" id="bento-23-1-close" onclick="closeClicked(event, this)"></i>
			<i class="refresh-button arrow_carrot-2left_alt" id="bento-23-1-refresh" onclick="refreshImage(event, this)"></i>
			<i class="bento-link-icon icon-link fa" id="bento-23-1-link-icon"></i>
		</div>
	</div>
	<div id="column-23-2" class="column height50 width100">
		<div id="column-23-3" class="column padded height100 width33">
			<div class="bento" id="bento-23-2" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-23-2-slider"></div>
				<i class="close-button icon_close_alt" id="bento-23-2-close" onclick="closeClicked(event, this)"></i>
				<i class="refresh-button arrow_carrot-2left_alt" id="bento-23-2-refresh" onclick="refreshImage(event, this)"></i>
				<i class="bento-link-icon icon-link fa" id="bento-23-2-link-icon"></i>
			</div>
		</div>
		<div id="column-23-4" class="column padded height100 width33">
			<div class="bento" id="bento-23-3" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-23-3-slider"></div>
				<i class="close-button icon_close_alt" id="bento-23-3-close" onclick="closeClicked(event, this)"></i>
				<i class="refresh-button arrow_carrot-2left_alt" id="bento-23-3-refresh" onclick="refreshImage(event, this)"></i>
				<i class="bento-link-icon icon-link fa" id="bento-23-3-link-icon"></i>
			</div>
		</div>
		<div id="column-23-5" class="column padded height100 width33">
			<div class="bento" id="bento-23-4" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-23-4-slider"></div>
				<i class="close-button icon_close_alt" id="bento-23-4-close" onclick="closeClicked(event, this)"></i>
				<i class="refresh-button arrow_carrot-2left_alt" id="bento-23-4-refresh" onclick="refreshImage(event, this)"></i>
				<i class="bento-link-icon icon-link fa" id="bento-23-4-link-icon"></i>
			</div>
		</div>
	</div>

	<!-- DIVIDERS -->
	<div class="horizontal divider" id="divider-23-1" data-left="5px" data-top="375px" data-width="1004px" data-drag-axis="y" data-top-dependents='["column-23-1"]' data-bottom-dependents='["column-23-2",  "divider-23-2", "divider-23-3"]'></div>

	<div class="vertical divider" id="divider-23-2" data-top="386px" data-height="370px" data-left="335px" data-drag-axis="x" data-left-dependents='["column-23-3"]' data-right-dependents='["column-23-4", "divider-container-23-3"]'></div></div>
	<div class="vertical divider" id="divider-23-3" data-top="386px" data-height="370px" data-left="676px" data-drag-axis="x" data-left-dependents='["column-23-4", "divider-container-23-2"]' data-right-dependents='["column-23-5"]'></div></div>

</div>