<div class="template" id="template-20">

	<!-- DIVIDER CONTAINERS -->
	<div class="divider-container" id="divider-container-20-1" data-top="5px" data-left="70px" data-width="893px" data-height="720px"></div>
	<div class="divider-container" id="divider-container-20-2" data-top="59px" data-left="512px" data-width="496px" data-height="396px"></div>
	<div class="divider-container" id="divider-container-20-3" data-top="315px" data-left="512px" data-width="496px" data-height="396px"></div>

	<!-- COLUMNS -->
	<div id="column-20-1" class="column padded height100 width50">
		<div class="bento" id="bento-20-1" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-20-1-slider"></div>
			<i class="close-button icon_close_alt" id="bento-20-1-close" onclick="closeClicked(event, this)"></i>
			<i class="refresh-button icon_refresh" id="bento-20-1-refresh" onclick="refreshImage(event, this)"></i>
			<i class="bento-link-icon icon-link fa" id="bento-20-1-link-icon"></i>
		</div>
	</div>
	<div id="column-20-2" class="column height100 width50">
		<div id="column-20-3" class="column padded height33 width100">
			<div class="bento" id="bento-20-2" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-20-2-slider"></div>
				<i class="close-button icon_close_alt" id="bento-20-2-close" onclick="closeClicked(event, this)"></i>
				<i class="refresh-button icon_refresh" id="bento-20-2-refresh" onclick="refreshImage(event, this)"></i>
				<i class="bento-link-icon icon-link fa" id="bento-20-2-link-icon"></i>
			</div>
		</div>
		<div id="column-20-4" class="column padded height33 width100">
			<div class="bento" id="bento-20-3" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-20-3-slider"></div>
				<i class="close-button icon_close_alt" id="bento-20-3-close" onclick="closeClicked(event, this)"></i>
				<i class="refresh-button icon_refresh" id="bento-20-3-refresh" onclick="refreshImage(event, this)"></i>
				<i class="bento-link-icon icon-link fa" id="bento-20-2-link-icon"></i>
			</div>
		</div>
		<div id="column-20-5" class="column padded height33 width100">
			<div class="bento" id="bento-20-4" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-20-4-slider"></div>
				<i class="close-button icon_close_alt" id="bento-20-4-close" onclick="closeClicked(event, this)"></i>
				<i class="refresh-button icon_refresh" id="bento-20-4-refresh" onclick="refreshImage(event, this)"></i>
				<i class="bento-link-icon icon-link fa" id="bento-20-4-link-icon"></i>
			</div>
		</div>
	</div>

	<!-- DIVIDERS -->
	<div class="vertical divider" id="divider-20-1" data-left="503px" data-drag-axis="x" data-left-dependents='["column-20-1"]' data-right-dependents='["column-20-2", "divider-20-2", "divider-20-3"]'></div>

	<div class="horizontal divider" id="divider-20-2" data-left="513px" data-top="248px" data-width="498px" data-drag-axis="y" data-top-dependents='["column-20-3"]' data-bottom-dependents='["column-20-4", "divider-container-20-3"]'></div>

	<div class="horizontal divider" id="divider-20-3" data-left="513px" data-top="501px" data-width="498px" data-drag-axis="y" data-top-dependents='["column-20-4", "divider-container-20-2"]' data-bottom-dependents='["column-20-5"]'></div>
</div>