<div class="template" id="template-8">
	<div class="divider-container" id="divider-container-8-2" data-top="59px" data-left="59px" data-width="437px" data-height="650px"></div>
	<div class="divider-container" id="divider-container-8-3" data-top="59px" data-left="511px" data-width="437px" data-height="650px"></div>
	<div id="column-8-1" class="column padded height100 width50">
		<div class="bento" id="bento-8-1" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-8-1-slider"></div>
			<i class="close-button icon_close_alt" id="bento-8-1-close" onclick="closeClicked(event, this)"></i>
			<i class="bento-link-icon icon-link fa fa-link fa-lg" id="bento-8-1-link-icon"></i>
		</div>
	</div>
	<div id="column-8-2" class="column height100 width50">
		<div id="column-8-3" class="column padded height50 width100">
			<div class="bento" id="bento-8-2" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-8-2-slider"></div>
				<i class="close-button icon_close_alt" id="bento-8-2-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
		<div id="column-8-4" class="column padded height50 width100">
			<div class="bento" id="bento-8-3" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-8-3-slider"></div>
				<i class="close-button icon_close_alt" id="bento-8-3-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
	</div>
	<div class="vertical divider" id="divider-8-1" data-left="503px" data-drag-axis="x" data-left-dependents='["column-8-1", "divider-8-2", "divider-container-8-2"]' data-right-dependents='["column-8-2", "divider-8-2", "divider-container-8-3"]'></div>
	<div class="horizontal divider" id="divider-8-2" data-left="513px" data-top="375px" data-width="498px" data-drag-axis="y" data-top-dependents='["column-8-3"]' data-bottom-dependents='["column-8-4"]'></div>
</div>