<div class="template" id="template-1">
	<div class="divider-container" id="divider-container-1-1" data-top="5px" data-left="59px" data-width="560" data-height="746"></div>
	<div class="divider-container" id="divider-container-1-2" data-top="5px" data-left="397px" data-width="560" data-height="746"></div>
	<div class="divider-container" id="divider-container-1-3" data-top="59px" data-left="679px" data-width="326" data-height="586"></div>
	<div id="column-1-1" class="column padded height100 width33">
		<div class="bento" id="bento-1-1" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-1-1-slider"></div>
			<i class="close-button icon_close_alt" id="bento-1-1-close" onclick="closeClicked(event, this)"></i>
			<i class="refresh-button icon_refresh" id="bento-1-1-refresh" onclick="refreshImage(event, this)"></i>
			<i class="bento-link-icon icon-link fa" id="bento-1-1-link-icon"></i>
		</div>
	</div>
	<div id="column-1-2" class="column padded height100 width33">
		<div class="bento" id="bento-1-2" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-1-2-slider"></div>
			<i class="close-button icon_close_alt" id="bento-1-2-close" onclick="closeClicked(event, this)"></i>
			<i class="refresh-button icon_refresh" id="bento-1-2-refresh" onclick="refreshImage(event, this)"></i>
			<i class="bento-link-icon icon-link fa" id="bento-1-2-link-icon"></i>
		</div>
	</div>
	<div id="column-1-3" class="column height100 width33">
		<div id="column-1-4" class="column padded height50 width100">
			<div class="bento" id="bento-1-3" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-1-3-slider"></div>
				<i class="close-button icon_close_alt" id="bento-1-3-close" onclick="closeClicked(event, this)"></i>
				<i class="refresh-button icon_refresh" id="bento-1-3-refresh" onclick="refreshImage(event, this)"></i>
				<i class="bento-link-icon icon-link fa" id="bento-1-3-link-icon"></i>
			</div>
		</div>
		<div id="column-1-5" class="column padded height50 width100">
			<div class="bento" id="bento-1-4" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-1-4-slider"></div>
				<i class="close-button icon_close_alt" id="bento-1-4-close" onclick="closeClicked(event, this)"></i>
				<i class="refresh-button icon_refresh" id="bento-1-4-refresh" onclick="refreshImage(event, this)"></i>
				<i class="bento-link-icon icon-link fa" id="bento-1-4-link-icon"></i>
			</div>
		</div>
	</div>
	<div class="vertical divider" id="divider-1-1" data-left="333px" data-drag-axis="x" data-left-dependents='["column-1-1"]' data-right-dependents='["column-1-2", "divider-container-1-2"]'></div>
	<div class="vertical divider" id="divider-1-2" data-left="671px" data-drag-axis="x" data-left-dependents='["column-1-2", "divider-container-1-1"]' data-right-dependents='["column-1-3", "divider-1-3", "divider-container-1-3"]'></div>
	<div class="horizontal divider" id="divider-1-3" data-left="679px" data-top="375px" data-width="327px" data-drag-axis="y" data-top-dependents='["column-1-4"]' data-bottom-dependents='["column-1-5"]'></div>
</div>