<div class="template" id="template-14">

	<!-- DIVIDER CONTAINERS -->
	<div class="divider-container" id="divider-container-14-1" data-top="59px" data-left="70px" data-width="893px" data-height="650px"></div>
	<div class="divider-container" id="divider-container-14-3" data-top="5px" data-left="70px" data-width="870px" data-height="720px"></div>

	<!-- A Completely unnecessary container -->
	<div class="divider-container" id="divider-container-14-2" data-top="59px" data-left="5px" data-width="499px" data-height="650px"></div>

	<!-- COLUMNS -->
	<div id="column-14-1" class="column height100 width50">
		<div id="column-14-3" class="column padded height50 width100">
			<div class="bento" id="bento-14-1" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-14-1-slider"></div>
				<i class="close-button icon_close_alt" id="bento-14-1-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
		<div id="column-14-4" class="column padded height50 width100">
			<div class="bento" id="bento-14-2" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-14-2-slider"></div>
				<i class="close-button icon_close_alt" id="bento-14-2-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
	</div>
	<div id="column-14-2" class="column height100 width50">
		<div id="column-14-5" class="column padded height50 width100">
			<div class="bento" id="bento-14-3" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-14-3-slider"></div>
				<i class="close-button icon_close_alt" id="bento-14-3-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
		<div id="column-14-6" class="column padded height50 width100">
			<div class="bento" id="bento-14-4" onclick="bentoClick(this)">
				<p class="click-to-add">click to add</p>
				<div class="image-slider" id="bento-14-4-slider"></div>
				<i class="close-button icon_close_alt" id="bento-14-4-close" onclick="closeClicked(event, this)"></i>
			</div>
		</div>
	</div>

	<!-- DIVIDERS -->
	<div class="horizontal divider" id="divider-14-1" data-left="5px" data-top="375px" data-width="497px" data-drag-axis="y" data-top-dependents='["column-14-3"]' data-bottom-dependents='["column-14-4"]'></div>
	<div class="horizontal divider" id="divider-14-2" data-left="512px" data-top="375px" data-width="497px" data-drag-axis="y" data-top-dependents='["column-14-5"]' data-bottom-dependents='["column-14-6"]'></div>

	<div class="vertical divider" id="divider-14-3" data-left="503px" data-drag-axis="x" data-left-dependents='["column-14-1", "divider-14-1"]' data-right-dependents='["column-14-2", "divider-14-2"]'></div>
</div>