<div class="template" id="template-4">
	<div class="divider-container" id="divider-container-4-1" data-top="5px" data-left="59px" data-width="904px" data-height="746px"></div>
	<div id="column-4-1" class="column padded height100 width50">
		<div class="bento" id="bento-4-1" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-4-1-slider"></div>
			<i class="close-button icon_close_alt" id="bento-4-1-close" onclick="closeClicked(event, this)"></i>
			<i class="bento-link-icon icon-link fa fa-link fa-lg" id="bento-4-1-link-icon"></i>
		</div>
	</div>
	<div id="column-4-2" class="column padded height100 width50">
		<div class="bento" id="bento-4-2" onclick="bentoClick(this)">
			<p class="click-to-add">click to add</p>
			<div class="image-slider" id="bento-4-2-slider"></div>
			<i class="close-button icon_close_alt" id="bento-4-2-close" onclick="closeClicked(event, this)"></i>
			<i class="bento-link-icon icon-link fa fa-link fa-lg" id="bento-4-2-link-icon"></i>
		</div>
	</div>
	<div class="vertical divider" id="divider-4-1" data-left="503px" data-drag-axis="x" data-left-dependents='["column-4-1"]' data-right-dependents='["column-4-2"]'></div>
</div>