<div class="template-thumbnail 5-bento-thumbnail" onclick="selectTemplate('template-2')">
	<div class="thumb-column height100 width50">
		<div class="thumb-padded thumb-column height50 width100"></div>
		<div class="thumb-padded thumb-column height50 width100"></div>
	</div>
	<div class="thumb-column height100 width50">
		<div class="thumb-padded thumb-column height33 width100"></div>
		<div class="thumb-padded thumb-column height33 width100"></div>
		<div class="thumb-padded thumb-column height33 width100"></div>
	</div>
</div>