.title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  float: none;
  clear: none;
  text-align: left;
}
.section01 {
  display: block;
  margin-top: -8px;
  margin-right: auto;
  margin-left: auto;
  padding: 120px;
  background-image: url('../images/Head Section.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px, rgba(0, 0, 0, 0.09) 1px 1px 11px 0px;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.title-container {
  margin-bottom: -1px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.interested-text {
  margin-top: 20px;
  padding: 13px;
  font-family: Roboto, sans-serif;
  color: rgba(51, 51, 51, 0.75);
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.interested-button {
  display: block;
  margin: 33px auto;
  padding: 18px;
}
.interested-button.yes {
  border-radius: 4px;
  background-color: #4caf50;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 2px 0px, rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  text-align: center;
}
.interested-button.maybe {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 2px 0px, rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  font-size: 30px;
  text-align: center;
}
.interested-button.no {
  border-radius: 4px;
  background-color: #f44336;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 2px 0px, rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  font-size: 30px;
  text-align: center;
}
.logo {
  display: block;
  margin-top: -80px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}
.block {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 2px 0px, rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
}
.block.overview {
  background-color: #9575cd;
}
.block.overview.medium {
  padding: 28px;
}
.block.skillsreq {
  background-color: #7986cb;
}
.block.medium {
  padding: 28px;
}
.block.medium.overview {
  margin: 0px 3px 3px 0px;
}
.block.medium.skillsreq {
  margin-bottom: 3px;
  margin-left: 3px;
}
.block.medium.responsibilities {
  margin-top: 6px;
  margin-right: 3px;
  margin-bottom: 3px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ba68c8;
}
.block.medium.values {
  margin-top: 6px;
  margin-bottom: 4px;
  margin-left: 3px;
  background-color: #64b5f6;
}
.block.city {
  display: block;
  margin: 6px auto;
  padding: 123px;
  background-image: url('../images/Nashville.png');
  background-position: 0px 0px;
  background-size: cover;
}
.block.perk {
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #ffd54f;
}
.block.perk.long {
  margin-top: 6px;
  padding: 16px;
}
.block.office {
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 108px;
  background-color: transparent;
  background-image: url('../images/office.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}
.block.video {
  background-color: #64b5f6;
}
.block.video.long {
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 16px;
}
.social-bar {
  height: 388px;
  margin: 39px;
  border-radius: 4px;
  background-color: transparent;
  background-image: -webkit-radial-gradient(0% 0%, circle, #e500e7, #00d7ff);
  background-image: radial-gradient(circle at 0% 0%, #e500e7, #00d7ff);
}
.social-bar.block {
  height: 425px;
  margin-top: 47px;
  padding-bottom: 0px;
}
.info-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.info-icon-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}
.med-text {
  display: block;
  width: 175px;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.med-text.respnd {
  width: 205px;
  margin-right: auto;
}
.skills-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
}
.float-fab {
  margin-top: -40px;
  margin-right: 110px;
  margin-left: 110px;
  border-radius: 473px;
  background-color: #f50057;
}
.cityimg {
  display: block;
  margin-top: 8px;
}
.mapicon {
  background-image: url('../images/fa-map-marker.png');
  background-position: 50% 50%;
  background-size: cover;
}
.map-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.large-text {
  display: block;
  margin-top: 42px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  font-family: Roboto, sans-serif;
  font-size: 74px;
  font-weight: 100;
}
.large-text.img-text {
  padding-left: 42px;
}
.star-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.img-icon {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 0px;
}
.social-media-icon {
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 32px;
}
.social-media-bar {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 62px;
  border-bottom: 2px solid white;
}
.social-media-bar.end {
  border-bottom: 1px none black;
}
.card {
  margin-top: 20px;
}
.respond-text {
  display: block;
  width: 204px;
  margin-top: 12px;
  margin-right: auto;
  margin-left: -17px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
}
html.w-mod-js *[data-ix="load-reveal"] {
  opacity: 0;
}
html.w-mod-js *[data-ix="load-reveal-title"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
html.w-mod-js *[data-ix="load-reveal-title-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
html.w-mod-js *[data-ix="load-reveal-title-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
html.w-mod-js *[data-ix="load-reveal-mid-high"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
html.w-mod-js *[data-ix="load-reveal-mid-mid"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
html.w-mod-js *[data-ix="load-reveal-mid-low"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
html.w-mod-js *[data-ix="scroll-reveal"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
html.w-mod-js *[data-ix="load-reveal-overview"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
html.w-mod-js *[data-ix="load-reveal-skills"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
html.w-mod-js *[data-ix="load-reveal-mid-respon"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
html.w-mod-js *[data-ix="load-reveal-mid-values"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
  .section01 {
    padding: 36px;
  }
  .logo {
    margin-top: -410px;
  }
}

